<div class="row m-l-0 m-r-0">
  <div class="col s12 m-b-8 black-text">
      Thanks, Could you share the details below further?
  </div>
  <form class="col s12">
    <div class="col s12">
      <input placeholder="Age" id="icon_prefix" type="text" class="validate">
    </div>
    <div class="col s6 m-b-8">
      <label>
        <input name="sex" type="checkbox" />
        <span>Male</span>
      </label>
    </div>
    <div class="col s6 m-b-8">
      <label>
        <input type="checkbox" name="sex" />
        <span>Female</span>
      </label>
    </div>
    <div class="col s12">
      <input placeholder="Since when you are facing " type="text" class="validate">
    </div>
    <div class="switch col s12 m-b-8">
      <label>
        <input type="checkbox"/>
        <span>Does it itches as well ?</span>
      </label>
    </div>
    <div class="col s12">
      <textarea id="textarea1" placeholder="More details about the allergy" class="materialize-textarea"></textarea>
    </div>
  </form>
</div>