<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col md6 s12">
        <input placeholder="Age" id="icon_prefix" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <p class="col s6">
        <label>
          <input name="sex" type="checkbox" />
          <span>Male</span>
        </label>
      </p>
      <p class="col s6">
        <label>
          <input type="checkbox" name="sex" />
          <span>Female</span>
        </label>
      </p>
    </div>
    <div class="row">
      <div class="input-field col md6 s12">
        <input placeholder="Since when you are facing " type="text" class="validate">
      </div>
    </div>
    <div class="row">
        <p class="col s12">
          <label>
            <input  type="checkbox" />
            <span>Does it itches as well  ?</span>
          </label>
        </p>
        
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" placeholder="More details about the allergy" class="materialize-textarea"></textarea>
      </div>
    </div>
  </form>
</div>