.card-content ul.stepper {
    margin: 1em -24px;
    padding: 0 40px ;
  }
  
  .input-field input:focus, .input-field input[type=text]:valid, .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, .input-field input[type=url]:valid,  .input-field input[type=date]:valid {
    border: 1px solid rgba(0,0,0,.3);
    padding: 0px 10px;
  }
  
  input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom-color:  rgb(231, 87, 122);;
    box-shadow: 0 1px 0 0 rgb(231, 87, 122);;
  }
  .field-header{
    background: lightgrey;
    padding: 10px;
  }
  
  .step-content [type="radio"]:checked+span:after,
  .step-content [type="radio"].with-gap:checked+span:after {
      background-color: rgb(231, 87, 122);
      border-color: rgb(231, 87, 122);
  
  
  }
  
  
  ul.stepper .step.active:before, ul.stepper .step.done:before {
      background-color:rgb(231, 87, 122);
  }
  