<div class="row m-l-0 m-r-0">
  <div class="col s12 m-b-8 black-text">
    {{data.title}}
  </div>
  <form class="col s12">
    <span *ngFor="let object of data.data" [ngSwitch]="object.t">
      <div class="col s12  black-text">
        {{object.ph}}
      </div>
      <div class="col s12 m-b-8" *ngSwitchCase="'i'">
        <input placeholder="Write your answer" type="text" class="validate">
      </div>
      <div *ngSwitchCase="'cb'">
        <div *ngFor="let cb of object.l " class="col s{{12/object.l.length}} m-b-8">
          <label>
            <input name="{{object.name}}" type="checkbox" />
            <span>{{cb.label}}</span>
          </label>
        </div>
      </div>
      <div class="col s12 m-b-8" *ngSwitchCase="'ta'">
          <div class="col s12  black-text">
              {{object.ph}}
          </div>
        <textarea id="textarea1" placeholder="Write your answer" class="materialize-textarea"></textarea>
      </div>
      <div class="col s12" *ngSwitchCase="'btn'">
      <a class="waves-effect waves-light btn " style = "background: rgb(231, 87, 122)">{{object.label}}</a>
    </div>
    </span>
  </form>
</div>