<div class="card white main">
  <div class="card-content p-0">
    <ul class="stepper linear">
      <li class="step active">
        <div class="step-title waves-effect waves-dark black-text">Date and time</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <ng-datepicker [(ngModel)]="st" [options]="options" (ngModelChange)="getSlots()"></ng-datepicker>
              <div id="slots-viewer" *ngIf="st">
                <div *ngIf="mslots && mslots.length == 0  &&  eslots && eslots.length == 0">
                  <span class="red-text">Sorry no slots available from doctor side</span>
                </div>
                <div *ngIf="(mslots && mslots.length != 0) || (eslots && eslots.length != 0) ">
                  <div id="m-slots-viewer" *ngIf="mslots && mslots.length != 0">
                    <div class="row">
                      <span class="col s12 black-text">Morning Slots</span>
                      <p class="col s4" *ngFor="let slot of mslots">
                        <label>
                          <input name="group1" type="radio" (change)="onSelectionChange(slot)" />
                          <span>{{slot.l}}</span>
                        </label>
                      </p>
                    </div>
                  </div>
                  <div id="e-slots-viewer" *ngIf="eslots && eslots.length != 0">
                    <div class="row">
                      <span class="col s12 black-text">Evening Slots</span>
                      <p class="col s4" *ngFor="let slot of eslots">
                        <label>
                          <input name="group1" type="radio" (change)="onSelectionChange(slot)" />
                          <span>{{slot.l}}</span>
                        </label>
                      </p>

                    </div>
                  </div>
                  <div class="row">
                    <div class="step-actions">
                      <button [disabled]="!selectedSlot" class="waves-effect center-align col s12 hoverable waves-dark btn dr-bot-btn next-step white-text">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect waves-dark black-text">Your Information</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <!-- <span class="">Full Name</span> -->
              <input placeholder="Enter your full name" [(ngModel)]="name" type="text" class="validate " required>
            </div>
            <div class="input-field col s12">
              <!-- <span class="">Mobile</span> -->
              <input placeholder="Enter your mobile" type="text" [(ngModel)]="mobile" class="validate " required>
            </div>
            <div class="input-field col s12">
              <!-- <span class="">Email</span> -->
              <input placeholder="Enter your email" type="text" [(ngModel)]="email" class="validate " required>
            </div>
            <div class="input-field col s12">
              <!-- <span class="">Remarks</span> -->
              <input placeholder="remarks" type="text" [(ngModel)]="remarks" class="validate " required>
            </div>
            <div class="input-field col s12 p-t-10 ">
              <span class="col s12 black-text p-l-0">Choose payment mode</span>
              <p class="col s6 p-l-0 m-t-10">
                <label>
                  <input name="group1" type="radio" [value]="cash" (change)="pmode = 'cash'" />
                  <span>Cash</span>
                </label>
              </p>
              <p class="col s6 m-t-10">
                <label>
                  <input name="group1" type="radio" [value]="online" (change)="pmode = 'online'" />
                  <span>Online</span>
                </label>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="pmode == 'online'">
            <div class="col s12 p-t-10 valign-wrapper">
              <a class="waves-effect waves-light btn center-align col s6 hoverable dr-bot-btn  col s12" href="drgeetagera.com"><i class="material-icons left">payment</i>Click here for payment</a>
            </div>

          </div>
          <div class="row col s12">
          <br />
            <div class="step-actions">
              <button [disabled]="validate()" class="waves-effect waves-dark btn center-align col s6 hoverable dr-bot-btn next-step white-text">Next</button>
              <button class="waves-effect waves-dark btn center-align col s6 hoverable dr-bot-btn previous-step white-text">Back</button>

            </div>
          </div>
        </div>
      </li>
      <li class="step ">
        <div class="step-title waves-effect waves-dark black-text ">Booking Preview</div>
        <div class="step-content ">
          <div class="row">
            <div class="col s12 m6">
              <div class="card  darken-1">
                <div class="card-content ">
                  <span class="card-title black-text">Booking Details</span>
                  <div class="black-text">
                    <h5>{{st ? st.toUTCString() : ''}}</h5>
                    <h6>
                      <span>slot : </span>{{selectedSlot ? selectedSlot.l : ''}}</h6>
                  </div>
                  <div class="black-text">
                    <h6>{{name}}</h6>
                    <h6>{{mobile}}</h6>
                    <h6>{{email}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step-actions " style="padding-bottom:10px;">
            <button class=" dr-bot-btn waves-effect waves-dark btn next-step" (click)="saveAppointment() ">Confirm Booking</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>