<div class="container center-align">
  <div class="z-depth-1 white row" style="display: inline-block; padding: 5px 15px 0px 15px; border: 1px solid #EEE;">
    <h6 class="black-text">You seems to be visting for the first time. Please register your self</h6>
    <div class='row'>
      <div class='col s12'>
      </div>
    </div>
    <div class='row m-b-0'>
      <div class='input-field col s12'>
          <i class="material-icons prefix black-text">account_circle</i>
        <input class='validate' placeholder="Enter your name" type='text' name='name' id="name" [(ngModel)]="name" />
      </div>
    </div>
    <div class='row m-b-0'>
      <div class='input-field col s12'>
          <i class="material-icons prefix black-text">email</i>
        <input placeholder="Enter your email" class='validate' type='text' name='email' id="email" [(ngModel)]="email" />
      </div>
    </div>
    <div class='row m-b-0'>
      <div class='input-field col s12'>
          <i class="material-icons prefix black-text">phone_iphone</i>
        <input placeholder="Enter your mobile" class='validate' type='text' name='mobile' id="mobile" [(ngModel)]="mobile" />
      </div>
    </div>
    <br />
    <div class='row m-b-20'>
      <button [disabled]="validate()" (click)="register()" type='button' name='btn_login' class='col s12 dr-color btn btn-large waves-effect hoverable'>Register</button>
    </div>
  </div>
</div>