
<div class="container center-align">
  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <h5>It seems you are not registered yet please register your self</h5>
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' placeholder="Enter your name" type='text' name='name' id = "name" [(ngModel)] = "name" />
          
          </div>
        </div>
        <div class='row'>
            <div class='input-field col s12'>
              <input placeholder = "Enter your email" class='validate' type='text' name='email' id = "email" [(ngModel)] = "email" />
              
            </div>
          </div>
        <br />
        <div class='row'>
          <button (click) = "register()" type='button' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        </div>
    </div>
  </div>
  