.chatform{
    height: 100vh;
    position:  relative;
}
.chatform:before {
    content: '';
    background-image: url(http://drgeetagera.com/images/dr%20banner.png);
	background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.6;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    height: 100%;
    z-index: -1;
    width:  100%;
}
.bottom-fixed{
	margin-left: 310px !important;
	position : fixed;
	left : 0px;
	bottom : 0px;
	width:100%;
}
.wrapper{position:relative;}
.bottom{position:absolute; bottom:0;width: 100%}

#message--writer-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px 10px;
}
.header {
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    background-color: #8a8a8a;
    color: #fff;
    height: 20px;
    width: 110px;
    padding-right: 10px;
    padding-left: 10px;
    margin:  0px auto;
    text-align:  center;
    line-height:  1;
    font-size:  12px;
}
.header img {
    display:  inline-block;
    vertical-align:  text-top;
    margin-right: 5px;
}
sup{
  color:blue;
}
